<form action="/pizza-orders/update/<%= @order.id %>" method="post">

  <label for="first-name">Update First Name:</label>
  <input id="first-name" type="text" value="<%= @order.first_name()%>" name="first_name">

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" value="<%= @order.last_name()%>" name="last_name">

  <label for="pizza-select">Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option selected="Selected"><%= @order.topping()%></option>
    <option value="Cheese">Cheese</option>
    <option value="Pepperoni">Pepperoni</option>
    <option value="Veggie">Veggie</option>
    <option value="Hawaiian">Hawaiian</option>
  </select>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" value="<%= @order.quantity()%>" name="quantity" required>

  <input type="submit" value="Update Information">

</form>
